<div class="container-fluid banner">
  <div class="title">
    <h1>MANIFESTO TRACKER</h1>
    <div class="byline">
    <p>Aam Aadmi Party (AAP) made 70 promises during the 2015 Delhi Elections.<br/>
    Track them here.</p>
    </div>
  </div>

</div>
<!-- Progress meters -->
<div class="container-fluid">
    <!-- In progress -->
  <div class="col-md-10 col-md-offset-1">
    <div class="project-progress">
      <div class="project-progress-bar background-yellow" style="width: <%= @num_in_progress * 100 / @num_total %>%;">
        <span>IN PROGRESS <%= @num_in_progress * 100 / @num_total %> %</span>
      </div>
    </div>

    <!-- Partially fulfilled -->
    <div class="project-progress">
      <div class="project-progress-bar background-blue"  style="width: <%= @num_partially_fulfilled * 100 / @num_total %>%;">
        <span>PARTIALLY FULFILLED <%= @num_partially_fulfilled * 100 / @num_total %> %</span>
      </div>
    </div>

    <!-- Achieved -->
    <div class="project-progress">
      <div class="project-progress-bar background-green"  style="width: <%= @num_fulfilled * 100 / @num_total %>%;">
        <span>FULFILLED <%= @num_fulfilled  * 100 / @num_total %> %</span>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="col-md-10 col-md-offset-1">
  <table class="project-table table-hover">
    <thead>
      <tr>
        <th class="project-title col-md-2">Title</th>
        <th class="project-description col-md-6">Description</th>
        <th class="status-cell col-md-2">Status</th>
        <% if user_signed_in? %>
          <th></th>
        <% end %>
      </tr>
    </thead>
  <tbody>
  <% @projects.each do |p| %>
    <tr>
      <td class="project-title col-md-3"><%= link_to p.title, project_path(p.id) %></td>
      <td class="col-md-6"><%= truncate_description(p.description) %></td>
      <td class="status-cell col-md-1"><span class="project-status background-<%= status_color(p.status) %>"></span></td>
      <% if user_signed_in? %>
        <td><%= link_to "Delete", project_path(p.id), method: "delete", class: "btn btn-danger", role: "button" %></tb>
      <% end %>
    </tr>
  <% end %>
  </tbody>

  </table>
  </div>
</div>

<div id="disqus_thread" class="col-md-10 col-md-offset-1"></div>
