<div class="container aapt-page">

  <div id="search-bar" class="project-search">

    <%= form_tag projects_path, :role => "search", :method => 'get' do %>

      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: "form-control project-search-input", autocomplete: "off" %>
        <span class= "input-group-btn">
          <%= submit_tag "Search", :name => nil, class: "btn btn-default btn-search" %> </span> </div>

    <% end %>

    </div>

  <div class="project-categories">

      <div class="project-category heading">

        Tags:

      </div>

    <% @categories.each do |c| %>

      <div class="project-category">

          <%= link_to c.name, projects_path(:category => c.id) %> </div>

    <% end %>

  </div>

  <div class="col-md-12 project-charts">

    <!-- <%= line_chart @data, @options %> -->

    <div class="project-progress">

      <div class="project-progress-bar background-green" style="width: <%= @percent["fulfilled"] %>%;">
        <%= link_to '', projects_path(:status => "Fulfilled"), title: 'See ' + @percent["fulfilled"].to_s + '% Fulfilled Promises', rel: 'tooltip', class: "project-progress-link" %> </div>

      <div class="project-progress-bar background-blue"  style="width: <%= @percent["blocked"] %>%;">
        <%= link_to '', projects_path(:status => "Partially Fulfilled"), title: 'See ' + @percent["blocked"].to_s + '% Partially Fulfilled Promises', rel: 'tooltip', class: "project-progress-link" %> </div>

      <div class="project-progress-bar background-yellow" style="width: <%= @percent["initiated"] %>%;">
        <%= link_to '', projects_path(:status => "In Progress"), title: 'See ' + @percent["initiated"].to_s + '% In Progress Promises', rel: 'tooltip', class: "project-progress-link" %> </div>

      <div class="project-progress-bar background-red"  style="width: <%= @percent["uninitiated"] %>%;">
        <%= link_to '', projects_path(:status => "Not Started"), title: 'See ' + @percent["uninitiated"].to_s + '% Not Started Promises', rel: 'tooltip', class: "project-progress-link" %> </div>

    </div>

  </div>

  <div class="col-md-12">

    <% if (params[:search] || params[:status] || params[:category]) %>

      <div class="row project-search-row">

        <div class="col-md-10 project-message">

          <i> Seeing promises &mdash; <%= @filter %> </i> <span style="margin: 0 10px;"> <%= link_to "clear all filters", projects_path %> </span> </div>


      </div>

    <% end %>

    <% @projects.each do |p| %>

      <div class="row project-row">

        <div class="col-md-10 project-description">
          <span class="project-name"> <%= link_to p.title, project_path(p.id) %> </span>
          <span class="project-text"> <%= truncate_description(p.description) %> </span> </div>

        <div class="col-md-2 project-status">
          <span class="project-status-color background-<%= status_color(p.status) %>"></span> </div>

      </div>

    <% end %>

    <% if @projects.count < 70 && @projects.count > 0 %>

      <div class="row project-search-row">

        <div class="col-md-10 project-message">

              <%= link_to "See All Promises", projects_path %>

           </div>

      </div>

    <% end %>

    <% if @projects.count < 1 %>

      <div class="row project-search-empty-row">

        <div class="project-search-empty">

          No projects for this search. Go back to <%= link_to "All Projects", projects_path %>,
            or look at the official <%= link_to "AAP Manifesto 2015", "http://www.aamaadmiparty.org/AAP-Manifesto-2015.pdf" %>. </div>

      </div>

    <% end %>

  </div>

</div>

<!-- <div id="disqus_thread" class="col-md-10 col-md-offset-1"></div> -->
