<!-- Progress meters -->
<div class="container-fluid">
  <div class="row">
      <!-- In progress -->
      <h4> <i class=" icon-cogs"></i> Overall promises in progress: <%= @num_in_progress %> out of <%= @num_total %></h4>
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%= @num_in_progress * 100 / @num_total %>%;">
          <%= @num_in_progress * 100 / @num_total %>%
        </div>
      </div>

      <!-- Partially fulfilled -->
      <h4> <i class=" icon-cogs"></i> Overall promises partially fulfilled: <%= @num_partially_fulfilled %> out of <%= @num_total %></h4>
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" style="width: <%= @num_partially_fulfilled * 100 / @num_total %>%;">
          <%= @num_partially_fulfilled * 100 / @num_total %>%
        </div>
      </div>

      <!-- Achieved -->
      <h4> <i class=" icon-ok"></i> Overall promises achieved: <%= @num_fulfilled %> out <%= @num_total %></h4>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" style="width: <%= @num_fulfilled * 100 / @num_total %>%;">
          <%= @num_fulfilled  * 100 / @num_total %>%
        </div>
      </div>
  </div>
</div>

<div class="container-fluid">
  <table>
    <thead>
      <tr>
        <th class="project-title">Title</th>
        <th class="project-description">Description</th>
        <th class="status-cell">Status</th>
        <% if user_signed_in? %>
          <th></th>
        <% end %>
      </tr>
    </thead>
  <tbody>
  <% @projects.each do |p| %>
    <tr>
      <td class="project-title"><%= link_to p.title, project_path(p.id) %></td>
      <td><div class="project-description"><%= p.description %></div></td>
      <td class="status-cell"><span class="project-status background-<%= status_color(p.status) %>"></span></td>
      <% if user_signed_in? %>
        <td><%= link_to "Delete", project_path(p.id), method: "delete", class: "btn btn-danger", role: "button" %></tb>
      <% end %>
    </tr>
  <% end %>
  </tbody>

  </table>
</div>

<div id="disqus_thread"></div>
<script>

    var disqus_config = function () {
        this.page.url = window.href;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = 'home'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');
        
        s.src = '//manifestotracker.disqus.com/embed.js'; 
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>