<div name="landing" id="landing" class="page">
  <div class="container">

    <div id="landing-content" class="row">

      <%= doughnut_chart @data, @options %>

      <div class="numbers col-md-6 col-sm-12">

        <div class="heading">
          This Week </div>

        <p> Projects with Responses:
          <span> 45 / 70 </span>  </p>

        <p> Official Responses:
          <span> 123 </span> </p>

        <p> Public Responses:
          <span> 456 </span> </p>

        <p> Irrelevant Responses:
          <span> 10845 </span> </p>

        <%= link_to "VIEW ALL PROMISES", projects_path, id: "enter-button" %>

      </div>

    </div>

  </div>
</div>

<div name="about" id="about" class="page">
  <h2 class="title">ABOUT</h2>
  <div id="about-logos">
	  <%=image_tag("logo.png", alt: "New Delhi Government Logo", id:"delhi-logo", class:"logo")%>
	  <%=image_tag("stanford-logo.png", alt: "Stanford University Logo", id:"stanford-logo", class:"logo")%>
	</div>
  <p class="about-description">This Manifesto Tracker is a project of the Aam Aadmi Party-led Government of Delhi. It was built to keep track of the promises made by the government in their election manifesto. The manifesto tracker will be used by the government to inform the citizens of work in progress and get feedback on finished projects. This will truly democratize the political system, make government accountable to its people and make politics mean more than just elections. This is a next generation tool to ensure political accountability in Delhi.</p>
</div>
<div name="team" id="team" class="page">
  <h2 class="title">MEET THE TEAM</h2>
  <div class="container-fluid" id="team-container">
  	<div class="team-member col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1">
  		<%=image_tag("michelle.png", alt: "Michelle Guo", class:"picture")%>
  		<div class="name">
  			<span>MICHELLE GUO</span>
  		</div>
  	</div>
  	<div class="team-member col-md-2 col-lg-2">
  		<%=image_tag("cathy.png", alt: "Cathy Zhu", class:"picture")%>
  		<div class="name">
  			<span>CATHY ZHU</span>
  		</div>
  	</div>
  	<div class="team-member col-md-2 col-lg-2">
  			<%=image_tag("grace.png", alt: "Grace Wu", class:"picture")%>
  		<div class="name">
  			<span>GRACE WU</span>
  		</div>
  	</div>
    <div class="team-member col-md-2 col-lg-2">
        <%=image_tag("kyle.png", alt: "Grace Wu", class:"picture")%>
      <div class="name">
        <span>KYLE QIAN</span>
      </div>
    </div>
    <div class="team-member col-md-2 col-lg-2">
        <%=image_tag("catherine.png", alt: "Grace Wu", class:"picture")%>
      <div class="name">
        <span>CATHERINE XU</span>
      </div>
    </div>
	</div>
</div>
<div name="contact" id="contact" class="page">
	<h2 class="title">CONTACT US</h2>
  <p class="about-description">This website was created as part of the CS for Social Good class (CS 90SI) at Stanford. This is an open source project hosted on <a href="https://github.com/delhigov/manifesto-tracker">github</a>. Please visit our github page for updates on our progress (this is still a work in progress), to give feedback, report bugs, or contribute.</p>
</div>