<div name="landing" id="landing" class="page">
  <div class="container">

    <div id="landing-content" class="row">

      <div class="positive-chart col-md-6 col-sm-12">
        <%= doughnut_chart @data, @options %>
        <p> Promises in green are those with more than 50% positive public responses over time. </p>
          </div>

      <div class="numbers col-md-6 col-sm-12">

        <div class="heading">
          This Week </div>

        <p> Promises with Responses:
          <span> 45 / 70 </span>  </p>

        <p> Responses from Officials:
          <span> 123 </span> </p>

        <p> Responses from People:
          <span> 456 </span> </p>

        <p> Responses marked Irrelevant:
          <span> 10845 </span> </p>

        <div class="links">
          <%= link_to "PROMISES", projects_path, id: "enter-button" %>
          <% if current_user && current_user.volunteer %>
              <%= link_to "RESPONSES", updates_path, id: "enter-button" %>
          <% end %>
          <% if current_user && (current_user.volunteer || current_user.official) %>
              <%= link_to fa_icon("users"), users_path, id: "enter-button" %>
          <% end %>
        </div>

      </div>

    </div>

  </div>
</div>

<div name="footer" id="footer" class="footer">

  <ul>

    <li> <%= link_to "About", "/pages/about" %> </li>
    <li> <%= link_to "Privacy Policy", "/pages/privacy.html" %> </li>

  </ul>
</div>