<div name="landing" id="landing" class="page">
  <div class="container">

    <div id="landing-content" class="row">

      <div class="chart col-md-5 col-sm-12">
        <%= doughnut_chart @doughnut_data, @doughtnut_options %>

          </div>

      <div class="text col-md-7 col-sm-12">

        <div class="row numbers">

          <div class="col-md-12 heading">
            <p> Status of AAP's 70 promises </p> </div>

          <div class="number col-md-4"> <%= @percent["fulfilled"] %> % </div>
            <div class="status col-md-8"> promises fulfilled </div>

          <div class="number col-md-4"> <%= @percent["blocked"] %> % </div>
            <div class="status col-md-8"> partially fulfilled </div>

          <div class="number col-md-4"> <%= @percent["initiate"] ||= 0 %> % </div>
            <div class="status col-md-8"> in progress </div>

        </div>

        <div class="links">
          <% if current_user && current_user.volunteer %>
              <%= link_to "PROMISES", projects_path, id: "enter-button" %>
          <% elsif %>
              <%= link_to "SEE ALL PROMISES", projects_path, id: "enter-button" %>
          <% end %>

          <% if current_user && current_user.volunteer %>
              <%= link_to "RESPONSES", updates_path, id: "enter-button" %>
          <% end %>
          <% if current_user && (current_user.volunteer || current_user.official) %>
              <%= link_to fa_icon("users"), users_path, id: "enter-button" %>
          <% end %>
        </div>

      </div>

    </div>

  </div>
</div>

<div name="footer" id="footer" class="footer">

  <ul>

    <li> Responses this Week: &nbsp;&nbsp; <%= @this_week[:official_updates] %> Official &mdash; <%= @this_week[:public_updates]%> Public &mdash; <%= @this_week[:irrelevant_updates]%> Irrelevant
    <li> <%= link_to "About", "/pages/about" %> </li>
    <li> <%= link_to "Privacy Policy", "/pages/privacy.html" %> </li>

  </ul>
</div>