<div class="container aapt-page">

    <div class="project-title">

        <!-- <a href="<%= projects_path %>" class="back-link"> &#8592 Go back to Projects</a> -->

        <h2> <%=  @project.sno.to_s.rjust(2, "0") + " /"%>
            <a href="<%= projects_path %>"> 70 </a> <%=" : " + @project.title %> </h2>

        <!-- <h2> <%= @project.title %> </h2> -->

        <span class="status <%= status_color(@project.status) %>">

            <%= format_status(@project.status) %> </span>

        <!-- <% if true %> -->
            <!-- <%= link_to "(Edit)", controller: "projects", action: "edit", id: @project.id %> -->
        <!-- <% end %> -->

        </div>

    <div class="project-info">

        <p> <%= @project.description %> </p>

        </div>

    <div class="project-updates-heading row">

        <h4> Responses </h4>

        <div class="updates-sort">

            <%= fa_icon "long-arrow-up" %>
            <%= sortable "As It Happened", "ASC", @project.status %>
        </div>

        <div class="updates-sort">

            <%= fa_icon "long-arrow-down" %>
            <%= sortable "Newest First", "DESC", @project.status %>
        </div>

        <div class="updates-sort">

            Sort Order :
        </div>

        </div>

    <div class="project-updates">

        <% if flash[:notice] %>
            <div class="project-update notice"><%= flash[:notice] %></div>
        <% end %>

        <div class="project-timeline">
            <%= link_to "Add a response", { controller: "updates", action: "new", project_id: @project.id }, class: "project-update new" %> </div>

        <% for u in @updates %>

            <div class="project-update">

                <!-- <h5> <%= u.title %> </h5> -->

                <span class="updated-at"> <%= u.updated_at %> </span>

                <% if u.official? %>
                    <span class="updated-at"> &mdash; Official </span>
                <% end %>

                <!-- <span class="updated-at"> Positive: <%= u.positive %> </span> -->

                <!-- <% if true %> -->
                    <!-- <%= link_to "Edit", { controller: "updates", action: "edit", project_id: @project.id, id: u.id }, class: "edit"  %> -->
                <!-- <% end %> -->

                <p> <%= u.description %> </p>

                <% if u.url.present? %>
                    <%= fa_icon "external-link", {class: "fa-proof"} %>
                    <%= link_to "Proof", u.url%>
                <% end %>

            </div>

        <% end %>

        </div>

    <div id="disqus_thread"> </div>

    <script>
        // var disqus_config = function () {
        //     this.page.url = window.href;  // Replace PAGE_URL with your page's canonical URL variable
        //     this.page.identifier = window.location.pathname; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        // };

        // (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        //     var d = document, s = d.createElement('script');

        //     s.src = '//manifestotracker.disqus.com/embed.js';

        //     s.setAttribute('data-timestamp', +new Date());
        //     (d.head || d.body).appendChild(s);
        // })();
    </script>
</div>
