<!-- http://localhost:3000/project/edit/200 -->
<h1>Edit Project <%= @project.sno %></h1>

<%= form_for @project, url: {action: "update"} , :html=>{:method=>:put} do |f| %>
	<%= label_tag(:sno, "ID number") %>
  	<%= f.text_field :sno %>

  	<%= label_tag(:title, "Project Title") %>
  	<%= f.text_field :title %>

	<%= label_tag(:description, "Project Description") %>
  	<%= f.text_field :description %>

  	<%= submit_tag("Save") %>

<% end %>
