<!-- http://localhost:3000/project/edit/200 -->
<h1>Edit Project <%= @project.sno %></h1>

<%= form_tag(controller: "project", action: "update", method: "post") do %>
	<%= label_tag(:sno, "ID number") %>
  	<%= text_field_tag(:sno, @project.sno) %>

  	<%= label_tag(:title, "Project Title") %>
  	<%= text_field_tag(:title, @project.title) %>

	<%= label_tag(:description, "Project Description") %>
  	<%= text_field_tag(:description, @project.description) %>

  	<%= submit_tag("Save") %>

<% end %>
