<!-- Progress meters -->
<div class="row">
  <div class="span5" id="header-meter">
    
    <!-- In progress -->
    <h4> <i class=" icon-cogs"></i> Overall promises in progress: <%= @num_in_progress %> out of <%= @num_total %></h4>
    <div class="progress">
      <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%= @num_in_progress * 100 / @num_total %>%;">
        <%= @num_in_progress * 100 / @num_total %>%
      </div>
    </div>
    
    <!-- Partially fulfilled -->
    <h4> <i class=" icon-cogs"></i> Overall promises partially fulfilled: <%= @num_partially_fulfilled %> out of <%= @num_total %></h4>
    <div class="progress">
      <div class="progress-bar progress-bar-info" role="progressbar" style="width: <%= @num_partially_fulfilled * 100 / @num_total %>%;">
        <%= @num_partially_fulfilled * 100 / @num_total %>%
      </div>
    </div>
    
    <!-- Achieved -->
    <h4> <i class=" icon-ok"></i> Overall promises achieved: <%= @num_fulfilled %> out <%= @num_total %></h4>
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" style="width: <%= @num_fulfilled * 100 / @num_total %>%;">
        <%= @num_fulfilled  * 100 / @num_total %>%
      </div>
    </div>
  </div>
</div>

<table class="table">
  <tr>
    <td>SNo</tb>
    <td>Title</tb>
    <td>Description</tb>
    <td>Status</tb>
    <% if user_signed_in? %>
      <td></td>
    <% end %>
  </tr>
<% @projects.each do |p| %>
  <tr>
    <td><%= link_to p.sno, project_path(p.id) %></td>
    <td><%= link_to p.title, project_path(p.id) %></td>
    <td><%= p.description %></td>
    <td><%= format_status(p.status) %></td>
    <% if user_signed_in? %>
      <td><%= link_to "Delete", project_path(p.id), method: "delete", class: "btn btn-danger", role: "button" %></tb>
    <% end %>
  </tr>
<% end %>

</table>

<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */

    var disqus_config = function () {
        this.page.url = window.href;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = 'home'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');
        
        s.src = '//manifestotracker.disqus.com/embed.js'; 
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>