<h1>Create a new Project</h1>

<%= form_for @project, url: {:action => :create} , :html=>{:method=>:post} do |f| %>
	<%= label_tag(:sno, "ID number") %>
  	<%= f.text_field :sno %>

  	<%= label_tag(:title, "Project Title") %>
  	<%= f.text_field :title %>

	<%= label_tag(:description, "Project Description") %>
  	<%= f.text_field :description %>

  	<%= submit_tag("Save") %>

<% end %>
