<div class="container aapt-page">

	<div class="updates-title">
		<h2> All Public Responses </h2> </div>

	<div class="updates-table">

		<% @updates.each do |u| %>

			<div class="row">

		  		<div class="col-md-10">
		  			<%= u.event_occured.to_time.strftime('%Y - %^b - %d at %I:%M %p') %>
		  			<% if u.url.length > 0 %>
			  			&mdash; <%= link_to "Link", u.url, class: "update-link" %>
		  			<% end %>
		  			<br/> <%= u.description %> </div>

		  		<div class="col-md-2 buttons">
		  			<%= button_to approve_update_path(id: u.id), :method => :put do %>
		  				<% fa_icon "thumbs-o-up", {:class => ("done" if current_user.voted_up_on? u)} %>
		  			<% end %>
		  			<%= button_to reject_update_path(id: u.id), :method => :put do %>
		  				<% fa_icon "thumbs-o-down", {:class => ("done" if current_user.voted_down_on? u)} %>
		  			<% end %>
		  			</div>

		  	</div>

		<% end %>

		<% unless @updates.size > 0 %>

			No Responses, today.

		<% end %>

	</div>

</div>
