<div class="container aapt-page">

	<div class="updates-title">
		<h2> All Responses </h2> </div>

	<div class="updates-table">

		<% @updates.each do |u| %>

			<div class="row">
		  		<div class="col-md-3">
		  			<%= u.event_occured %> </div>

		  		<div class="col-md-7">
		  			<%= u.description %> <%= link_to "Link", u.url, class: "update-link" %>. </div>

		  		<div class="col-md-2 buttons">
			  		<%= fa_icon "thumbs-o-down" %>
		  			<%= fa_icon "thumbs-o-up" %> </div>

		  	</div>

		<% end %>

	</div>

</div>
