<div class="container aapt-page">

	<div class="updates-title">
		<h2> All Responses </h2> </div>

	<div class="updates-table">

		<% @updates.each do |u| %>

			<div class="row">
		  		<div class="col-md-3">
		  			<%= u.event_occured.to_time.strftime('%Y - %^b - %d at %I:%M %p') %> </div>

		  		<div class="col-md-7">
		  			<%= u.description %> <%= link_to "Link", u.url, class: "update-link" %>. </div>

		  		<div class="col-md-2 buttons">
		  			<%= button_to reject_update_path(id: u.id), :method => :put do %>
		  				<% fa_icon("thumbs-o-down") %>
		  			<% end %>
		  			<%= button_to approve_update_path(id: u.id), :method => :put do %>
		  				<% fa_icon("thumbs-o-up") %>
		  			<% end %>
		  			</div>

		  	</div>

		<% end %>

	</div>

</div>
