<div class="container aapt-page">

    <!-- <%= link_to "Back", :back, class: "back-link" %> -->

    <div class="project-title">

        <!-- <a href="<%= projects_path %>" class="back-link"> &#8592 Go back to Projects</a> -->

        <h2> <a href="<%= project_path(@project.sno) %>"> <%= @project.sno.to_s.rjust(2, "0") %> </a> /
            <a href="<%= projects_path %>"> 70 </a> <%=" : " + @project.title %> </h2>

        <span class="status">

            New Response </span>

        </div>

    <%= form_for @update, url: {action: 'create'} , :html=>{:method=>:post} do |f| %>

        <%= f.hidden_field :project_id, :value => @project.id %>

        <div class="form-group">
            <%= label_tag(:description, "Response") %>
            <%= f.text_area :description, :rows => 8, :class => "form-control" %> </div>

        <div class="form-group">
          <%= label_tag(:url, "Proof (optional)") %>
          <%= f.text_field :url, :class => "form-control" %> </div>

        <% unless current_user && current_user.official %>
            <div class="form-group">
                <%= fa_icon "thumbs-o-up" %>
                <%= label_tag(:update_positive_true, "Satisified with Progress:")%>
                <%= f.radio_button("positive", "true") %>
                <%= fa_icon "thumbs-o-down" %>
                <%= label_tag(:update_positive_false, "Not Satisified:") %>
                <%= f.radio_button("positive", "false") %> </div>
        <% end %>

        <div class="form-group">
          <%= label_tag(:event_occured, "Date & Time:", class: 'date-label') %>
          <%= f.datetime_select(:event_occured, ampm: true) %> </div>

        <% if current_user && current_user.official %>
            <div class="form-group">
                <%= label_tag(:status, "Project Status:") %>
                <%= f.fields_for @update.project do |p_form| %>
                  <%= p_form.select :status, @statuses, {}, {:class => "form-control"}%>
                <% end %> </div>
        <% end %>

        <div class="form-group buttons">

            <%= recaptcha_tags %>
            <%= button_tag("Save", :type => "submit", class: "btn btn-success") %>
            <%= link_to "Cancel", project_path(@project.id), class: 'btn btn-default' %>

    <% end %>

</div>