<div class="container aapt-page">

    <!-- <%= link_to "Back", :back, class: "back-link" %> -->

    <h1> New Update for <%= @project.title %> </h1>

    <div>

        <%= form_for @update, url: {action: 'create'} , :html=>{:method=>:post} do |f| %>

            <%= f.hidden_field :project_id, :value => @project.id %>

            <div class="form-group">
                <%= label_tag(:title, "Date") %>
                <%= f.text_field :title, :class => "form-control" %>
                </div>

            <div class="form-group">
                <%= label_tag(:description, "Update") %>
                <%= f.text_area :description, :class => "form-control" %>
                </div>

            <%= submit_tag("Save", class: "btn btn-default") %>

        <% end %>

        </div>

    </div>