<!DOCTYPE html>
<html>
<head>
  <title>ManifestoTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :stylesheets %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" class="navbar-text">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Manifesto Tracker</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#about">ABOUT</a></li>
        <li><a href="/#team">TEAM</a></li>
        <li><a href="/#contact">CONTACT</a></li>
        <li id="user-widget">
          <% if current_user %>
            <%= link_to "LOG OUT", signout_path, id: "sign_out" %>
            <%= image_tag("http://graph.facebook.com/"+current_user.uid+"/picture?type=square", :alt => "rss feed") %>
          <% else %>
            <%= link_to "LOG IN", "/auth/facebook", id: "sign_in" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="content">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
</div>

<script>

jQuery(function() {
  $('body').prepend('<div id="fb-root"></div>');
  return $.ajax({
    url: window.location.protocol + "//connect.facebook.net/en_US/all.js",
    dataType: 'script',
    cache: true
  });
});

window.fbAsyncInit = function() {
  FB.init({
    appId      : <%= Rails.application.secrets.fb_app_id %>,
    xfbml      : true,
    version    : 'v2.5',
    cookie     : true
  });
  $('#sign_in').click(function(e) {
    e.preventDefault();
    return FB.login(function(response) {
      if (response.authResponse) {
        return window.location = '/auth/facebook/callback';
      }
    });
  });
  return $('#sign_out').click(function(e) {
    FB.getLoginStatus(function(response) {
      if (response.authResponse) {
        return FB.logout();
      }
    });
    return true;
  });
};

(function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));

</script>

</body>
</html>
