<!DOCTYPE html>
<html>
<head>
  <title>ManifestoTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :stylesheets %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header page-scroll">
        <a class="navbar-brand" href="/">Manifesto Tracker</a>
    </div>
    <p class="navbar-text pull-right">
      <span href="/#about">ABOUT</span>
      <span href="/#team">TEAM</span>
      <span href="/#contact">CONTACT</span>
    </p>
</nav>
    
<div id="content">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
</div>
</body>
</html>
