<!DOCTYPE html>
<html>
<head>
  <title>ManifestoTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :stylesheets %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header page-scroll">
        <a class="navbar-brand" href="/">Manifesto Tracker</a>
    </div>
    <p class="navbar-text pull-right">
      <span><a href="/#about">ABOUT</a></span>
      <span><a href="/#team">TEAM</a></span>
      <span><a href="/#contact">CONTACT</a></span>
    </p>
</nav>
    
<div id="content">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
</div>
  
<script>

    var disqus_config = function () {
        this.page.url = window.href;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = window.location.pathname; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');
        
        s.src = '//manifestotracker.disqus.com/embed.js'; 
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
</body>
</html>
