<!DOCTYPE html>
<html>
<head>
  <title>ManifestoTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :stylesheets %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" class="navbar-text">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Manifesto Tracker</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li class="active"><a href="#">Home</a></li> -->
        <li><a href="/#about">ABOUT</a></li>
        <li><a href="/#team">TEAM</a></li> 
        <li><a href="/#contact">CONTACT</a></li> 
      </ul>
    </div>
  </div>
</nav>
<!-- <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header page-scroll">
        <a class="navbar-brand" href="/">Manifesto Tracker</a>
    </div>
    <p class="navbar-text pull-right">
      <span><a href="/#about">ABOUT</a></span>
      <span><a href="/#team">TEAM</a></span>
      <span><a href="/#contact">CONTACT</a></span>
    </p>
</nav> -->
    
<div id="content">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
</div>
  
</body>
</html>
